[gitlab-ce]
baseurl = http://packages.gitlab.com/gitlab/gitlab-ce/opensuse/15.4/x86_64
enabled = 1
gpgcheck = 1
gpgkey = http://packages.gitlab.com/gitlab/gitlab-ce/gpgkey
	http://packages.gitlab.com/gitlab/gitlab-ce/gpgkey/gitlab-gitlab-ce-3D645A26AB9FBD22.pub.gpg
module_hotfixes = 1
name = GitLab CE
priority = 2

